<br><br>
<div class="abcont">
<block class="ab">
<nobr><table align="center">
<tr>
<img class="about" src="/images/pc.png">
</tr><tr>
<td><a href="http://www.mediafire.com/download/b8d791deadbcdwe/doe_en.exe"><img class="about" src="/images/uk.png"></a></td>
<td><a href="http://www.mediafire.com/download/cacs8ubixqdu3ih/doe.exe"><img class="about" src="/images/es.png"></a></td>
</tr>
</table>
</block>
<block class="ab">
<a href="https://play.google.com/store/apps/details?id=poynting.doe"><img class="about" src="/images/android.png"></a></nobr>
</block>
<br>
<a href="https://github.com/sonsoleslp/DOE"><img class="about" src="/images/git.png"></a>
</div>