<br><br>
 <script src="/javascripts/canvas.js"></script>
<div  class="all" id="rre">
<block id="medios"><%= JSON.stringify(medios)%></block>
<block id="pruebas">Test:</block>


<canvas   id="myCanvas" ></canvas>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/complejo.js"></script>
<script>
	doe(); 
	window.addEventListener("resize", doe);
</script>

</div>

<style>
	#medios, #pruebas {
		display:none;
	}
</style>