
<br><br><br>
<h2 align="center">Change frequency</h2> <p>

<form align="center" class="bloque"  method="post" action="/freqchanged">

		<label for="freq" class="rem">Frequency:</label>
		<input type="text" class="caja" id="orden" name="freq" value="<%=freq %>"/> GHz<p>
		<a href="/list"><button id="sss" type="button">Cancel</button></a>
		<button  id= "sss" onclick="this.disabled=true; this.form.submit();" value="Salvar">Save</button>

</form>
