
<br><br><br><br>
<div id="principal" class="center">
<br>
<!-- <a href="/list" ><img id="welcome" src="/images/favicon.png"></a> -->
<
<h1 id="titulo"></h1>
<h3 id="descr"></h3>

<address>poynting.slp@gmail.com</address>

</div>
<script>
var language = navigator.language || navigator.browserLanguage;
var url = window.location.href;
if(language!== "es"&& language!== "gl" && language!== "ca" && language!== "eu"){
/*	document.getElementById("titulo").innerHTML += "SWD";
	document.getElementById("descr").innerHTML += "Standing Wave Diagram";*/
	document.getElementById("principal").innerHTML ='	<a href="/list" ><img id="welcome" src="/images/splien.png"></a>';
} else {
/*	document.getElementById("titulo").innerHTML += "DOE";
	document.getElementById("descr").innerHTML += "Diagrama de Onda Estacionaria";
*/
	document.getElementById("principal").innerHTML ='<a href="/list" ><img id="welcome" src="/images/spli.png"></a>';
}


</script>

<style>
	body {

		background-image: url('/images/wallpaper.jpg');
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;

	}

	#welcome {
	/*width:480px;*/
    max-width: 70%;
    height: auto;
        /* to make the image responsive */
}



</style>