<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav><span class="barra">Home</span><span class="barra">About</span></nav>
    <br><br>
    <section>
    	<div class="center">
      <%-body%>
      </div>
    </section>
  </body>
</html>
