<!DOCTYPE html>
<html>
  <head>
    <title>DOE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <span class="barra2"><img class="logo" src="/images/favicon.png"></span>
      <span class="barra"><a href="/">Home</a></span>
      <span class="barra"><a href="/draw">Draw</a></span>
      <span class="barra"><a href="/list">List</a></span>
      <span class="barra"><a href="/about">About</a></span>

    </nav>
    <br><br>
    <section>
    	
        <%-body%>
     
    </section>
   <!--  <script type="text/javascript" src="http://contadores.miarroba.es/ver.php?id=624114"></script>

    <a href="https://github.com/sonsoleslp/DOE"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/fork.png" alt="Fork me on GitHub"></a>

-->
  </body>
</html>
