/* latin */
@font-face {
  font-family: 'Monte';
  font-style: normal;
  font-weight: 400;

  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');

  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



html{
	font-family: "Monte";
	
}

body {

  font-size: 14px;
  font-family: "Monte","Lucida Console","Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center{
	text-align: center;
}
nav{

	font-size:22px;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	right:0;
	left:0;
	background-color: #444;
	top:0;
	position:absolute;
	/*width:100%;*/
	color:#ccc;
	height:60px;
	
}




.barra{
	margin:3px;
	text-align: center;
	padding-left:40px;
	padding-right:30px;
	vertical-align: middle;
	line-height: 60px;
}

.logo{
		height:40px;
			vertical-align: middle;

}

.barra2{
	margin:3px;
	text-align: center;
	padding-left:40px;
	padding-right:30px;

	line-height: 60px;

}
.barra:hover{
	color:#05E28E;
}

#doe{
	width:100%;
	border:4px solid #ddd;
}

a{
	text-decoration: none;
	color:inherit;
}

td,th{
	padding:10px;
	border:none;
	text-align: center;
}


.cabecera{
	background-color:#ddd;
	
}

.fila{
	background-color:  #fafafa;

}
.about{
	margin:20px;
	margin-bottom: 4px;
}

.lang{
	margin:4px;}	

.ab{
	display:inline-block;}

.abcont{
	text-align: center;
	display:inline-block;}

.caja{
	width:60px;
	outline-color: #05E28E;
}

.bloque{
	margin:20px;
}

.rem, .caja{
	margin:5px;
}
#sss {
    font-size: 14px;
  font-family: "Monte","Lucida Console","Lucida Grande", Helvetica, Arial, sans-serif;
  border:none;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  background: #333;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline:none;
}

#sss:hover {
  background: #05E28E;
  text-decoration: none;
  outline:none;
}

#mini:hover{
	transform:scale(1.2);  

}

#gris{
	color:#777;
}

::-moz-selection{
   background-color:rgb(7,226,142);

}
::selection{
  
    background-color:rgb(7,226,142);
}

#welcome{
	/*width:150px;*/
}
.ab{
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
}

.all{
text-align: center;
left:0px;
right:8px;
position:absolute; /* to place it somewhere on the screen */
top:60px;
bottom:0px;} /* makes it lock to the bottom */

#myCanvas{
	font-size: 18px;
}